.link-back {
	margin-bottom: 20px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
}

.product-card {
	display: flex;
	max-width: 50%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f1f1f1;
	margin: 0 auto;

	&__left {
		width: fit-content;
	}

	.product-image {
		margin-bottom: 30px;
	}

	.product-info {
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 50%;
		padding-left: 20px;
	}

	.product-name {
		font-size: 18px;
		font-weight: bold;
	}

	.system-requirements {
		margin-top: 20px;
		h4 {
			margin-bottom: 10px;
		}
		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 10px;
		}
		th,
		td {
			padding: 10px;
			border: 1px solid #ccc;
		}
	}
}
