.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f1f1f1;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.card-image {
		margin-bottom: 10px;
	}

	.card-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;

		.title {
			font-size: 20px;
			font-weight: bold;
		}

		.card-info p {
			margin: 5px 0;
		}

		.description {
			display: inline-block;
			padding: 5px;
			border-radius: 50%;
			color: #000000;
		}

		.publisher,
		.genre {
			font-weight: bold;
			padding: 5px;
			border-radius: 10px;
			color: #f1f1f1;
		}

		.publisher {
			background-color: #ff5733;
		}

		.genre {
			background-color: #3399ff;
		}
	}
}
